/*Die fixierte Menüzeile*/

.top-bar{
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 5px 5px 30px 5px #888888;
}

/*Für das Buch Cover auf der details Seite*/

.detail-img{
	position: fixed;
	width: 100%;
	z-index: -1;
	padding-right: 30px;
}

.detail{
	margin-top:50%;
	margin-bottom:50%;
	background-color: #fff;
	box-shadow: 0 -5px 20px 0 #000; 
}

/*Für die Thumbnails mit Text*/

.container {
  position:relative;
  box-shadow: 5px 5px 30px 5px #888888;
  overflow: hidden;
}

.container:hover{
	width: 150%;
	left: -25%;
	top: -15%;
  transition: .5s ease;
  z-index: 2;
}

.overlay {
  position: absolute;
  background-color: #000000;
  opacity: 0;
  transition: .5s ease;
  padding: 20px;
}

.container:hover .overlay {
	position:absolute;
	color: #ffffff;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: scroll;
  transition: .5s ease;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}
